@charset "UTF-8";

body{
	background-color : #c6ecc1;
	display:flex;
	flex-direction: column;
	align-items:center;
	font-family: sans-serif;
	margin-top: 50px;
}

form{
	margin: 30px 0 20 0
}

.input-field{
	padding:5px 20px;
	width: 450px;
	height: 40px;
	font-size: 15px;
	border-radius: 20px;
}

#submit-btn{
	padding:15px 25px;
	font-size: 15px;
	margin-left: 20px;
	border-radius: 20px;
}

#submit-btn:active, #submit-btn:hover{
	background-color:#86d67a
}

#list-ul{
	list-style : none;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;	
}

#list-ul li{
	border: 1px black solid;
	width: 650px;
	height: 50px;
	padding: 20px 0 0 20px;
	background-color: white;
	border-radius: 20px;
	margin-top: 20px
}

